@inherits LayoutComponentBase

<MudThemeProvider Theme="BlackshieldTheme.Instance"/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

@Body

<div id="blazor-error-ui" data-nosnippet>
    Ein Fehler ist aufgetreten.
    <a href="." class="reload">Neu laden</a>
    <span class="dismiss">✕</span>
</div>
